.project-tile {
    display: flex;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(136,103,207,1) 20%, rgba(130,102,208,1) 43%, rgba(124,101,209,1) 56%, rgba(89,100,211,1) 73%, rgba(76,164,163,1) 98%) 1;
    padding: 1.25rem;
    justify-content: space-between;

    .project-desc {
        p {
            margin-top: .25rem;
        }
    }

    .project-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .25rem;
        
        a {
            text-decoration: none;
            color: var(--cyan);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

svg {
    width: 1.5rem;
    fill: var(--text-color);
} 