body {
    background-color: var(--dark-theme);
    color: var(--text-color);

    header {
        #navbar {
            border-radius: 5px;
            border: .5px solid var(--violet);
            background-color: var(--dark-theme);
            position: fixed;
            display: flex;
            left: 0;
            z-index: 10;
            padding:.25rem;

            .nav__checkbox {
                display: none;

                &:checked ~ ul.nav__menu li {
                    display: block;
                }

                &:checked ~ ul.nav__menu {
                    margin: 1rem 2rem 1rem 1rem;
                }

                &:checked ~ label.nav__toggle .close {
                    display: block;
                }

                &:checked ~ label.nav__toggle .menu {
                    display: none;
                }
            }

            .nav__toggle{
                display: flex;
                justify-self: center;
                align-self: center;
                cursor: pointer;

                svg {
                    fill: var(--cyan); 
                    width: 2rem;
                }

                .close {
                    display: none;
                    padding-left: .5rem; 
                }

            }

            .nav__menu {
                justify-content: center;
                display: flex;
                flex-direction: column;
                gap: .5rem;

                li {
                    display: none;
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        color: white;

                        &:hover {
                            color: var(--cyan);
                        }
                    }
                }
            }
        }
    }

    main {
        margin-top: 75px;
        padding: 0 17.5rem;

        section {
            display: flex;
            flex-direction: column;
            margin-bottom: 5rem;
            border-bottom: .5px solid var(--gray-border);
            padding-bottom: 5rem;
    
            h2+p {
                margin-top: .25rem;
            }
        }

        #welcome-section {
            margin-top: -75px;
            height: 100vh;
            align-items: center;
            justify-content: center;
            border-bottom: none;

            a {
                color: var(--cyan);
                text-decoration: none;
                scroll-behavior: smooth;

                &:hover {
                    color: var(--violet);
                }
            }
        }
        
        #projects {
            gap: 1.25rem;

            h2+p {
                margin-top: -1rem;
            }
        }
    }
}

@media only screen and (max-width:768px){
    body {
        main {
            padding: 0 1rem;
        }   
    }
}