body {
    background-color: var(--dark-theme);
    color: var(--text-color);

    header {
        #navbar {
            border: .5px solid var(--violet);
            background-color: var(--dark-theme-soft);
            position: fixed;
            top: 0;
            right: 0;
            margin-right: .25rem;
            border-radius: 5px;
            width: 20%;
            height: 50px;
            display: flex;
            justify-content: center;

            ul {
                align-items: center;
                display: flex;
                gap: .5rem;
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: white;

                    &:hover {
                        color: var(--cyan);
                    }
                }
            }
        }
    }

    main {
        margin-top: 75px;
        padding: 0 17.5rem;

        section {
            display: flex;
            flex-direction: column;
            border: 1px solid green;
            margin-bottom: 5rem;
    
            h2+p {
                margin-top: .25rem;
            }
        }

        #welcome-section {
            margin-top: -75px;
            height: 100vh;
            align-items: center;
            justify-content: center;

            a {
                color: var(--cyan);
                text-decoration: none;
                scroll-behavior: smooth;
            }
        }
        
        #projects {
            gap: 1.25rem;

            h2+p {
                margin-top: -1rem;
            }
        }
    }
}