body {
    background-color: var(--dark-theme);
    color: var(--text-color);

    header {
        #navbar {
            border: .5px solid var(--violet);
            background-color: var(--dark-theme-soft);
            position: fixed;
            top: 0;
            left: 0;
            margin-left: .25rem;
            border-radius: 5px;
            width: 15%;
            height: 50px;
            display: flex;
            justify-content: center;

            ul {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                gap: .5rem;
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: white;

                    &:hover {
                        color: var(--cyan);
                    }
                }
            }
        }
    }

    main {
        margin-top: 75px;
        padding: 0 17.5rem;

        section {
            display: flex;
            flex-direction: column;
            margin-bottom: 5rem;
            border-bottom: .5px solid var(--gray-border);
            padding-bottom: 5rem;
    
            h2+p {
                margin-top: .25rem;
            }
        }

        #welcome-section {
            margin-top: -75px;
            height: 100vh;
            align-items: center;
            justify-content: center;
            border-bottom: none;

            a {
                color: var(--cyan);
                text-decoration: none;
                scroll-behavior: smooth;

                &:hover {
                    color: var(--violet);
                }
            }
        }
        
        #projects {
            gap: 1.25rem;

            h2+p {
                margin-top: -1rem;
            }
        }
    }
}

@media only screen and (max-width:768px){
    body {
        header {
            #navbar {
                height: 100px;
                padding: 0 2rem;
                align-items: center;
                flex-direction: column;
            }
        }
        main {
            padding: 0 1rem;
        }   
    }
}